/* Style Sheet for bio.html */
/* bio_style.css */
/* Assignment 1 */
/* by Benson Cheng */

@font-face {
    font-family: 'Avenir Next';
    src: url("AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
}

h4 {
    color: black;
    font-size: 18px;
    font-family: "Avenir Next";
    text-align: center;
    padding-top: 10%;
    padding-bottom: 2%;
}

p {
    color: black;
    font-size: 14px;
    font-family: 'Avenir Next';
    text-align: left;
    margin-left: 31%;
    margin-right: 31%;

}